.logoImg {
    width: 200px;
    height: 120px;
}

.container {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100px;
    /* 맨 앞에 표시되도록 */
    z-index: 100;
    border-bottom : 2px solid #ececec;
    top: 0px;
}

.between {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logoImg {
    width: 180px;
    height: 100px;
    cursor: pointer;
    margin-left: 20px;
}

.searchBox {
    height: 30px;
    width: 550px;
    background: white;
    border-radius: 40px;
    padding: 10px;
    border: 1px solid #c0c0c0;
    margin-top: 30px;
    margin-left: 40%;
}

.searchTxt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0px;
    color: #c0c0c0;
    font-size: 16px;
    line-height: 30px;
    width: 490px;
    text-align: center;
    margin-left: 15px;
}

.searchTxt::placeholder {
    color: #c0c0c0;
}

.searchBtn {
    float: right;
    width: 40px;
    height: 100%;
    border-radius: 50px;
    background: white;
    border: none;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.logBox {
    display: flex;
    justify-content: space-between;
    margin-right: 60px;
    margin-left: 30px;
    margin-top: 45px;
    width: 60px;
}

.logIn {
    width: 60px;
}


.logTxt {
    cursor: pointer;
    color: #c0c0c0;
}

.menuShow {
    margin-top: 35px;
    margin-left: 25px;
}

.profileBox {
    display: flex;
    justify-content: space-between;
    margin-right: 80px;
    margin-left: 30px;
    margin-top: 15px;
    width: 300px;
}

.uploadDiv {
    width: 50%;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.nickDiv {
    width: 100%;
    display: flex;
    justify-content: right;
    margin-top: 15px;
    padding-top: 15px;
}

.nick {
    color: #a3a3a3;
}

.profDiv {
    width: 30%;
    display: flex;
    justify-content: center;
}

.profImg {
    cursor: pointer;
}


.sideBar {
    margin-top: 30px;
    top: 60px;
    right: 20px;
    position: fixed;
    width: 150px;
    height: 70px;
    /* display: flex; */
}

li {
    list-style: none
}

.logoutDiv {
    text-align: center;
    margin-top: 13px;
    border-left: solid 2px #ececec;
    height: 30px;
    justify-content: center;
    align-items: center;
}

.logoutDiv:hover {
    background-color: #ececec;
    cursor: pointer;
    border-left: solid 2px red;
}

.logout {
    line-height: 33px;
}

.mypageDiv {
    height: 30px;
    text-align: center;
    border-left: solid 2px #ececec;
}

.mypageDiv:hover {
    background-color: #ececec;
    cursor: pointer;
    border-left: solid 2px red;
}

.mypage {
    line-height: 33px;
}








/* ------------ VARIABLES ------------ */
:root{
    /* COLORS */
    --color: #9176FF;
    --dark-color: #2b2b2b;
    --dark-icon-color: #fff;
    --light-color: #f7f7f7;
    --light-icon-color: #FFDE59;
  }
 
  /* -------------- DarkMode BUTTON -------------- */
  .btn{
    background-color: #fff;
    width: 7em;
    height: 3.5em;
    border-radius: 10em;
    padding: 0 0.5em;
  
    box-shadow: inset 0 8px 60px rgba(0,0,0, .1),
                inset 0 8px 8px rgba(0,0,0, .1),
                inset 0 -4px 4px rgba(0,0,0, .1);
  
    position: relative;
  
    display: flex;
    align-items: center;
  
    cursor: pointer;

    margin-top: 29px;
    margin-left: 120%;
  }
  
  .btn__indicator{
    background-color: #fff;
    width: 3em;
    height: 3em;
    border-radius: 50%;
  
    position: absolute;
  
    box-shadow: 0 8px 40px rgba(0,0,0, .2);
  
    transition: transform .3s ease;
  }
  
  .btn__iconContainer{
    width: 100%;
    height: 100%;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .btn__icon{
    color: var(--light-icon-color);
    font-size: 2rem;
  }
  
  /* -------------- ANIMATION ------------ */
  .btn__icon.animated{
    animation: spin 0.5s;
  }
  
  @keyframes spin{
    to {
      transform: rotate(360deg);
    }
  }
  
  /* -------------- DARKMODE -------------- */
  body.darkmode{
    background-color: var(--dark-color);
  }
  
  .darkmode .btn{
    box-shadow: inset 0 8px 60px rgba(0,0,0, .3),
                inset 8px 0 8px rgba(0,0,0, .3),
                inset 0 -4px 4px rgba(0,0,0, .3);
  }
  
  .darkmode .btn__indicator{
    transform: translateX(4em);
    background-color: var(--dark-color);
    box-shadow: 0 8px 40px rgba(0,0,0, .3);
  }
  
  .darkmode .btn__icon{
    color: var(--dark-icon-color);
  }